/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
    /*background: linear-gradient(40deg, white 0%,black 20%, black 60%, white 100%);*/
    overflow-x: hidden;
}

/* Gradient CSS */
.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-image: linear-gradient(#1100ff 35%, #ff00f2 45%);
    filter: blur(250px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}

/* Header et Navigation */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    z-index: 10;
    transition: color 0.3s;
    mix-blend-mode: difference;
}

header nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
/*
header.light nav a {
    color: black;
}*/

/* Section Accueil */
#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    mix-blend-mode: difference;
}

#name {
    font-size: 4rem;
    transition: color 0.3s;
}

/* Autres Sections */
#projects, #contact, #interest, #resume {
    padding: 2rem 1rem;
    text-align: center;
}

#resume{
    mix-blend-mode: difference;
}

  .resume-text{
    padding: 2rem 1rem;
    width: 560px;
    transform: translateX(85%);
    position: relative;
    text-align: center;
  }

#projects h2{
    mix-blend-mode: difference;
}

#projects {
    padding: 20px;
    text-align: center;
  }
  
  /* Styles des cartes de projets */
  .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 40px;
    padding: 15px;
    height: 100%; /* Ajuste la hauteur à 100% de la slide */
    box-sizing: border-box;
  }

  .swiper-container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Assure que chaque slide prend toute la largeur disponible */
    height: 400px; /* Hauteur fixe pour chaque slide */
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-content {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-summary {
    font-size: 0.9em;
    color: #555;
    margin: 10px 0;
  }
  
  .project-links {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .project-links a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .project-links a:hover {
    text-decoration: none;
  }
  
  /* Aligner les boutons de navigation */
  .swiper-button-prev,
  .swiper-button-next {
    color: #007BFF;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
  }

  .swiper-button-next{
    transform: translateX(200%);
  }

  .swiper-button-prev{
    transform: translateX(-200%);
  }
  
  .swiper-pagination {
    margin-top: 20px;
    transform: translateY(200%);
  }
  
#interest{
    mix-blend-mode: difference;
}

#contact {
    color: white;
    mix-blend-mode: difference;
}

#contact a{
    text-decoration: none;
    color: white;
}

#contact h2{
    margin-bottom: 40px;
}

/* Footer */
footer {
    color: white;
    text-align: center;
    padding: 1rem;
    mix-blend-mode: difference;
}
